In [32]:
# Data cleaning and processing by python

In [27]:
import numpy as np
import pandas as pd
import openpyxl
import matplotlib.pyplot as plt # visualizing data
%matplotlib inline
import seaborn as sns

In [33]:
df = pd.read_csv(r"C:\Users\my pc\DATA analysis project\amazon_sales_ind_analysis\Amazon Sale Report.csv",sep=',',  index_col=False )
# to avoid encoding error, use 'unicode_escape'

C:\Users\my pc\AppData\Local\Temp\ipykernel_9780\1163970167.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\my pc\DATA analysis project\amazon_sales_ind_analysis\Amazon Sale Report.csv",sep=',',  index_col=False )

In [7]:
df.shape

(128975, 24)

In [10]:
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.0,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.0,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.0,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [11]:
# check for null values
pd.isnull(df).sum()

index                 0
Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Style                 0
SKU                   0
Category              0
Size                  0
ASIN                  0
Courier Status        0
Qty                   0
currency              0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
promotion-ids         0
B2B                   0
fulfilled-by          0
Unnamed: 22           0
dtype: int64

In [13]:
df.shape

(128975, 24)

In [12]:
# drop null values
df.dropna(inplace=True)

In [13]:
df.shape

(19379, 24)

In [14]:
pd.isnull(df).sum()

index                 0
Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Style                 0
SKU                   0
Category              0
Size                  0
ASIN                  0
Courier Status        0
Qty                   0
currency              0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
promotion-ids         0
B2B                   0
fulfilled-by          0
Unnamed: 22           0
dtype: int64

In [15]:
# drop the nan values
df = df.dropna()

In [17]:
print(df)

         index             Order ID      Date                        Status  \
49051    49051  408-4858463-2356347  05-31-22  Shipped - Delivered to Buyer
49077    49077  402-7697834-2682766  05-31-22  Shipped - Delivered to Buyer
49081    49081  402-7031777-0396341  05-31-22  Shipped - Delivered to Buyer
49082    49082  408-1235521-4337163  05-31-22  Shipped - Delivered to Buyer
49083    49083  403-3845187-4421165  05-31-22  Shipped - Delivered to Buyer
...        ...                  ...       ...                           ...
128872  128872  405-4724097-1016369  06-01-22  Shipped - Delivered to Buyer
128873  128873  405-4724097-1016369  06-01-22  Shipped - Delivered to Buyer
128874  128874  405-4724097-1016369  06-01-22  Shipped - Delivered to Buyer
128887  128887  405-6493630-8542756  05-31-22  Shipped - Delivered to Buyer
128891  128891  403-0317423-9322704  05-31-22  Shipped - Delivered to Buyer

       Fulfilment Sales Channel  ship-service-level    Style             SKU  \
49051    Merchant      Amazon.in           Standard    J0385      J0385-KR-M
49077    Merchant      Amazon.in           Standard  JNE3654  JNE3654-TP-XXL
49081    Merchant      Amazon.in           Standard  JNE3798   JNE3798-KR-XS
49082    Merchant      Amazon.in           Standard    J0152      J0152-DR-L
49083    Merchant      Amazon.in           Standard    J0157     J0157-DR-XL
...           ...            ...                ...      ...             ...
128872   Merchant      Amazon.in           Standard    J0243      J0243-DR-S
128873   Merchant      Amazon.in           Standard    J0079     J0079-SKD-S
128874   Merchant      Amazon.in           Standard    J0009     J0009-SKD-S
128887   Merchant      Amazon.in           Standard    J0301      J0301-TP-M
128891   Merchant      Amazon.in           Standard  JNE3869    JNE3869-DR-M

             Category  ... currency  Amount         ship-city  \
49051           kurta  ...      INR   888.0       RAJAHMUNDRY
49077             Top  ...      INR   371.0           CHENNAI
49081   Western Dress  ...      INR   771.0        NEDUMANGAD
49082   Western Dress  ...      INR     0.0               LEH
49083   Western Dress  ...      INR   690.0  PIMPRI CHINCHWAD
...               ...  ...      ...     ...               ...
128872   Ethnic Dress  ...      INR   999.0             ALLUR
128873            Set  ...      INR  1523.0             ALLUR
128874            Set  ...      INR   854.0             ALLUR
128887            Top  ...      INR   518.0             NOIDA
128891  Western Dress  ...      INR   721.0    UTTAR BAGDOGRA

             ship-state ship-postal-code  ship-country  \
49051    ANDHRA PRADESH         533126.0            IN
49077        TAMIL NADU         600042.0            IN
49081            KERALA         695541.0            IN
49082   JAMMU & KASHMIR         194101.0            IN
49083       MAHARASHTRA         411027.0            IN
...                 ...              ...           ...
128872   ANDHRA PRADESH         524315.0            IN
128873   ANDHRA PRADESH         524315.0            IN
128874   ANDHRA PRADESH         524315.0            IN
128887    UTTAR PRADESH         201301.0            IN
128891      WEST BENGAL         734014.0            IN

                                            promotion-ids    B2B  \
49051   Amazon PLCC Free-Financing Universal Merchant ...  False
49077   Amazon PLCC Free-Financing Universal Merchant ...  False
49081   Amazon PLCC Free-Financing Universal Merchant ...  False
49082   Amazon PLCC Free-Financing Universal Merchant ...  False
49083   Amazon PLCC Free-Financing Universal Merchant ...  False
...                                                   ...    ...
128872  Amazon PLCC Free-Financing Universal Merchant ...  False
128873  Amazon PLCC Free-Financing Universal Merchant ...  False
128874  Amazon PLCC Free-Financing Universal Merchant ...  False
128887  Amazon PLCC Free-Financing Universal Merchant ...  False
128891  Amazon PLCC Free-Financing Universal Merchant ...  False

        fulfilled-by Unnamed: 22
49051      Easy Ship       False
49077      Easy Ship       False
49081      Easy Ship       False
49082      Easy Ship       False
49083      Easy Ship       False
...              ...         ...
128872     Easy Ship       False
128873     Easy Ship       False
128874     Easy Ship       False
128887     Easy Ship       False
128891     Easy Ship       False

[19379 rows x 24 columns]

In [18]:
#convert to data type
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [19]:
df['Amount'] = df['Amount'].astype(int)

In [20]:
df.info

<bound method DataFrame.info of          index             Order ID      Date                        Status  \
49051    49051  408-4858463-2356347  05-31-22  Shipped - Delivered to Buyer
49077    49077  402-7697834-2682766  05-31-22  Shipped - Delivered to Buyer
49081    49081  402-7031777-0396341  05-31-22  Shipped - Delivered to Buyer
49082    49082  408-1235521-4337163  05-31-22  Shipped - Delivered to Buyer
49083    49083  403-3845187-4421165  05-31-22  Shipped - Delivered to Buyer
...        ...                  ...       ...                           ...
128872  128872  405-4724097-1016369  06-01-22  Shipped - Delivered to Buyer
128873  128873  405-4724097-1016369  06-01-22  Shipped - Delivered to Buyer
128874  128874  405-4724097-1016369  06-01-22  Shipped - Delivered to Buyer
128887  128887  405-6493630-8542756  05-31-22  Shipped - Delivered to Buyer
128891  128891  403-0317423-9322704  05-31-22  Shipped - Delivered to Buyer

       Fulfilment Sales Channel  ship-service-level    Style             SKU  \
49051    Merchant      Amazon.in           Standard    J0385      J0385-KR-M
49077    Merchant      Amazon.in           Standard  JNE3654  JNE3654-TP-XXL
49081    Merchant      Amazon.in           Standard  JNE3798   JNE3798-KR-XS
49082    Merchant      Amazon.in           Standard    J0152      J0152-DR-L
49083    Merchant      Amazon.in           Standard    J0157     J0157-DR-XL
...           ...            ...                ...      ...             ...
128872   Merchant      Amazon.in           Standard    J0243      J0243-DR-S
128873   Merchant      Amazon.in           Standard    J0079     J0079-SKD-S
128874   Merchant      Amazon.in           Standard    J0009     J0009-SKD-S
128887   Merchant      Amazon.in           Standard    J0301      J0301-TP-M
128891   Merchant      Amazon.in           Standard  JNE3869    JNE3869-DR-M

             Category  ... currency Amount         ship-city       ship-state  \
49051           kurta  ...      INR    888       RAJAHMUNDRY   ANDHRA PRADESH
49077             Top  ...      INR    371           CHENNAI       TAMIL NADU
49081   Western Dress  ...      INR    771        NEDUMANGAD           KERALA
49082   Western Dress  ...      INR      0               LEH  JAMMU & KASHMIR
49083   Western Dress  ...      INR    690  PIMPRI CHINCHWAD      MAHARASHTRA
...               ...  ...      ...    ...               ...              ...
128872   Ethnic Dress  ...      INR    999             ALLUR   ANDHRA PRADESH
128873            Set  ...      INR   1523             ALLUR   ANDHRA PRADESH
128874            Set  ...      INR    854             ALLUR   ANDHRA PRADESH
128887            Top  ...      INR    518             NOIDA    UTTAR PRADESH
128891  Western Dress  ...      INR    721    UTTAR BAGDOGRA      WEST BENGAL

       ship-postal-code  ship-country  \
49051          533126.0            IN
49077          600042.0            IN
49081          695541.0            IN
49082          194101.0            IN
49083          411027.0            IN
...                 ...           ...
128872         524315.0            IN
128873         524315.0            IN
128874         524315.0            IN
128887         201301.0            IN
128891         734014.0            IN

                                            promotion-ids    B2B  \
49051   Amazon PLCC Free-Financing Universal Merchant ...  False
49077   Amazon PLCC Free-Financing Universal Merchant ...  False
49081   Amazon PLCC Free-Financing Universal Merchant ...  False
49082   Amazon PLCC Free-Financing Universal Merchant ...  False
49083   Amazon PLCC Free-Financing Universal Merchant ...  False
...                                                   ...    ...
128872  Amazon PLCC Free-Financing Universal Merchant ...  False
128873  Amazon PLCC Free-Financing Universal Merchant ...  False
128874  Amazon PLCC Free-Financing Universal Merchant ...  False
128887  Amazon PLCC Free-Financing Universal Merchant ...  False
128891  Amazon PLCC Free-Financing Universal Merchant ...  False

        fulfilled-by Unnamed: 22
49051      Easy Ship       False
49077      Easy Ship       False
49081      Easy Ship       False
49082      Easy Ship       False
49083      Easy Ship       False
...              ...         ...
128872     Easy Ship       False
128873     Easy Ship       False
128874     Easy Ship       False
128887     Easy Ship       False
128891     Easy Ship       False

[19379 rows x 24 columns]>

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19379 entries, 49051 to 128891
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               19379 non-null  int64
 1   Order ID            19379 non-null  object
 2   Date                19379 non-null  object
 3   Status              19379 non-null  object
 4   Fulfilment          19379 non-null  object
 5   Sales Channel       19379 non-null  object
 6   ship-service-level  19379 non-null  object
 7   Style               19379 non-null  object
 8   SKU                 19379 non-null  object
 9   Category            19379 non-null  object
 10  Size                19379 non-null  object
 11  ASIN                19379 non-null  object
 12  Courier Status      19379 non-null  object
 13  Qty                 19379 non-null  int64
 14  currency            19379 non-null  object
 15  Amount              19379 non-null  int32
 16  ship-city           19379 non-null  object
 17  ship-state          19379 non-null  object
 18  ship-postal-code    19379 non-null  float64
 19  ship-country        19379 non-null  object
 20  promotion-ids       19379 non-null  object
 21  B2B                 19379 non-null  bool
 22  fulfilled-by        19379 non-null  object
 23  Unnamed: 22         19379 non-null  object
dtypes: bool(1), float64(1), int32(1), int64(2), object(19)
memory usage: 3.5+ MB

In [22]:
df.describe()

               index           Qty        Amount  ship-postal-code
count   19379.000000  19379.000000  19379.000000      19379.000000
mean    86650.405542      1.004799    673.245162     464618.933743
std     22204.535858      0.082081    287.866514     191536.937504
min     49051.000000      1.000000      0.000000     110001.000000
25%     67813.000000      1.000000    471.000000     380058.000000
50%     83317.000000      1.000000    678.000000     500032.000000
75%    105153.500000      1.000000    786.000000     600039.000000
max    128891.000000      5.000000   2796.000000     855107.000000

In [23]:
df[['Amount','Qty']].describe()

             Amount           Qty
count  19379.000000  19379.000000
mean     673.245162      1.004799
std      287.866514      0.082081
min        0.000000      1.000000
25%      471.000000      1.000000
50%      678.000000      1.000000
75%      786.000000      1.000000
max     2796.000000      5.000000

In [24]:
df.drop_duplicates(inplace=True)# remove duplicates

In [25]:
df.fillna(value = 0, inplace = True)#Fill missing values with 0

In [31]:
df.shape

(19379, 24)

In [29]:
#saving the cleaned file for further use
df.to_csv('Cleaned amazon sales ind', index=False)